:root{
    --cor01: #5f2c82;
    --cor02: #94cfcd;
    --cor03: #53aaa7;
    --cor04: #2d6462;
    --cor05: #6cd3cf;

}

body{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
main{
    display: flex;
    align-items: center;
    height: 100vh;  
    margin: 0;
}


section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    margin: auto auto;
    text-align: center;
    width: 250px;
    height: 515px;  
    border-radius: 25px;
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;

    

    
}

#imagem{
    background-image: url('../img/login.jpg');
    height: 200px;
    background-size: cover;
    background-position: top bottom;
    border-radius: 25px 25px 0px 0px;
    margin: 0px;
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

section h1{
    font-size: 1.5em;
    margin: 0px;
    padding: 5px

}

section p{
    text-align: initial;
    font-size: 0.8em;
    margin: 0px;
    padding: 5px
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
    
}

form input{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0px;

}

.borda{
    background-color: blueviolet;
    border-radius: 5px;
    margin: 5px 0px;
    color: white;
    width: 230px;
    align-self: center;
}

.interno_input{
    width: 150px;
    outline: none;
    border: none;
    background-color: var(--cor02);

}
.interno_input:hover{
    background-color: white;
}

label{
    font-size: 1.5em;
}

#borda_entrar{
    background-color: rgb(70, 209, 163);
    border-radius: 5px;
    color: white;
    border: none;
    width: 230px;
    height: 40px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

#borda_entrar:hover{
    background-color: rgb(48, 150, 116);
    
}

#id_reset_senha{
    background: none;
    border-radius: 5px;
    color: rgb(53, 165, 128);
    border: 1px solid rgb(70, 209, 163);
    width: 230px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;

}


#id_reset_senha:hover{
    background-color: rgb(53, 165, 128);
    color: white;
}


/*Modo Landscape*/

@media screen and (orientation: landscape) {
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        margin: auto auto;
        text-align: center;
        width: 550px;
        height: 300px;
        border-radius: 25px;
    }

    #imagem{
        background-color: #53aaa7;
        background-image: url('../img/login2.jpg');
        width: 200px;
        height: 300px;
        background-size: cover;
        background-position: top center;
        border-radius: 25px 0px 0px 25px;
        margin: 0px;
    }

    form {
        width: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;    
    }

    .borda {
        width: 280px;

    }

    .interno_input {
        width: 200px;
    }
    
}

@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(to top, #7736a1, #9a45d3, #b150f1, #6cd3cf);
    }

    
}

@media screen and (min-width: 992px) {
        section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: white;
        margin: auto auto;
        text-align: center;
        width: 800px;
        height: 500px;
        border-radius: 25px;
    }

    #imagem{
        background-color: #53aaa7;
        background-image: url('../img/login2.jpg');
        width: 300px;
        height: 500px;
        background-size: cover;
        background-position: top center;
        border-radius: 0px 25px 25px 0px;
        margin: 0px;

    }

    form {
        width: 480px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px;
        padding: 10px;

    }

    .borda {
        width: 350px;

    }

    .interno_input {
        width: 270px;

    }
    
}